[class*="__container"] {
	max-width: 1113px;
	margin: 0 auto;
	padding: 0 50px;
}
.title {
	font-family: JosefinSans;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.75);
}
.subtitle {
	font-family: Poppins;
	font-weight: 400;
	line-height: 28px;
	color: rgba(255, 255, 255, 0.5);
}
.btn {
	font-size: 18px;
	line-height: 28px;
	color: rgba(255, 255, 255, 0.75);
	text-decoration: none;
	&::after {
		content: '';
		background: url('~static/arrow.svg');
		background-size: cover;
		height: 20px;
		width: 45px;
		display: inline-block;
		margin-left: 12px;
		vertical-align: middle;
	}
}

img {
	max-width: 100%;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.main {
	flex: 1 1 auto;
}

h4 { 
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

